# dependencies
node_modules/

# pnpm
.pnpm-store/
pnpm-debug.log*

# environment
.env
.env.local
.env.*.local
src/config/.env

# production
build/
dist/

# testing
coverage/

# typescript
tsconfig.tsbuildinfo

# logs
*.log

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp
*.swo
