.entry-links {
  .links {
    position: relative;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;

    padding: 25px;
    background-color: var(--page-background-color);
    backdrop-filter: var(--page-background-background);

    .link {
      cursor: pointer;

      padding: 8px;
      margin: 5px 0;
      border-radius: 8px;

      display: flex;
      align-items: center;

      background-color: #ffffff;
      border: 1px solid #ececec;

      transition-duration: 0.2s;
      transition-property: border-color;

      &__icon {
        display: block;

        width: 30px;
        height: 30px;
        min-width: fit-content;

        overflow: hidden;
        border-radius: 5px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__label {
        margin-left: 10px;

        font-size: 14px;
        font-family: 'Open Sans', Roboto, sans-serif;
      }

      &__nav {
        opacity: 0;
        font-size: 18px;
        color: #b8b8b8;

        margin-left: auto;

        transition-duration: 0.2s;
        transition-property: opacity;
      }

      &:hover {
        border-color: rgba(var(--color-primary-rgb), 0.4);

        .link__nav {
          opacity: 0.5;
        }
      }
    }

  }

  &--dialog {
    .links {
      gap: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .link {
        margin: 0 !important;
      }
    }
  }
}