.untracked {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  margin: 10px 0 18px 0;
  padding: 8px 8px 8px 15px;

  border-radius: 10px;
  border: 1px dashed var(--kolpt-color-border);
  background-color: var(--kolpt-color-surface-alt);

  &__text {
    font-size: 13px;
    color: var(--kolpt-color-muted);
  }

  &__action {
    margin-left: auto !important;
    text-transform: none !important;
  }
}
