:root {
  --kolpt-color-text: #222833;
  --kolpt-color-text-rgb: 34, 40, 51;

  --kolpt-color-primary: #1976d2;
  --kolpt-color-primary-rgb: 25, 118, 210;

  --kolpt-color-background: #f7f7f7;
  --kolpt-color-background-rgb: 247, 247, 247;
}