.header {
  position: sticky;
  z-index: 10;
  top: 0;

  display: flex;
  align-items: center;
  flex-direction: row;

  padding: 4px 8px 4px 12px;
  background-color: var(--color-primary);

  &__branding {
    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__info {
    flex: 1;
    margin-left: 5px;
    line-height: 16px;
  }

  &__title,
  &__subtitle {
    margin: 0;
    padding: 0;

    color: #ffffff;
  }

  &__title {
    font-size: 18px;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 400;
  }

  &__actions {
    margin-left: auto;
  }

  &__logo {
    width: 100%;
    height: 100%;

    border-radius: 8px;

    &-wrapper {
      width: 40px;
      height: 40px;
    }
  }

  &__button {
    color: #ffffff !important;

    img {
      width: 22px;
      border-radius: 4px;
    }
  }
}