.post {
  overflow: hidden;
  box-shadow: none !important;
  border-radius: 10px !important;
  margin: 10px 0 18px 0 !important;
  background-color: #f8f8f8 !important;

  &__auth {
    margin-top: 22px !important;
  }

  &__login {
    position: relative;
    display: inline-block;

    padding: 0;
    margin-right: 5px;

    cursor: help;
    font-weight: 600;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 0;

      border-radius: 3px;
      background-color: rgba(var(--color-primary-rgb), 0.3);

      transition-duration: 0.2s;
      transition-property: width;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__head {
    min-height: 55px !important;
  }

  &__head-wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;

    font-size: 16px;
    font-weight: 500;
  }

  &__action img {
    width: 18px;
  }

  &__body {
    padding: 0 !important;

    .reactions {
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-top: 1px solid #e1e1e1;
    }
  }

  &__dialog {
    [role="dialog"] {
      width: 450px !important;

      .post__dialog-content {
        padding: 0 !important;
      }
    }
  }
}