.card {
  cursor: pointer;

  border-radius: 8px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;

  transition-duration: 0.2s !important;
  transition-property: box-shadow !important;

  &__title {
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  &__subtitle,
  &__description {
    font-size: 12px !important;
    font-weight: 300 !important;
  }

  &__title,
  &__description {
    color: var(--color-text) !important;
  }

  &__thumbnail {
    filter: blur(2px);
    width: 40px !important;

    transition-duration: 0.2s;
    transition-property: width filter;
  }

  &__tags {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    max-width: 330px;

    overflow: hidden;
    padding-bottom: 8px;

    transition-duration: 0.2s;
    transition-property: max-width;

    .tag {
      margin: 2px;
      cursor: pointer;

      transition-duration: 0.2s;
      transition-property: background-color;

      &:hover {
        background-color: rgba(var(--color-primary-rgb), 0.2);
      }
    }

    &:hover {
      overflow: overlay;
    }
  }

  &--expanded {
    max-height: 145px;
  }

  &--compact {
    .card__thumbnail {
      display: none;
    }

    .card__tags {
      font-size: 12px;
      max-width: 370px;

      .tag {
        font-size: 12px;
      }
    }

    .card__body {
      padding-bottom: 0 !important;

      .card__description {
        display: none;
      }
    }

  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;

    &.card--expanded {
      .card__thumbnail {
        filter: blur(0);
        width: 120px !important;
      }

      .card__tags {
        max-width: 250px;
      }
    }
  }
}