.entry-head {
  position: relative;

  .head {
    &__back {
      display: flex;
      cursor: pointer;

      padding: 6px;
      opacity: 0.9;
      transform: scale(0.8);

      position: absolute;
      left: 10px;
      top: 10px;

      color: #ffffff;
      border-radius: 50%;
      border: 1px solid #ffffff;

      transition-duration: 0.2s;
      transition-property: opacity;

      &:hover {
        opacity: 1;
      }
    }

    &__hero {
      width: 100%;
      height: 250px;

      z-index: -1;
      background-color: var(--color-primary);

      .head__photo {
        z-index: 0;

        width: 100%;
        height: 100vh;

        background-repeat: repeat-y;
        background-attachment: fixed;
        background-position: -5px -5px;
        background-size: var(--max-width);
      }
    }

    &__content {
      position: relative;
      z-index: 1;

      backdrop-filter: blur(3px);
      background-image: linear-gradient(to top, var(--page-background-color), transparent);

      margin-top: -60px;
      padding: 20px 25px 0 25px;

      .head__title {
        margin: 0;
        padding: 0;

        font-size: 20px;
        font-weight: 700;
        font-family: 'Open Sans';

        color: var(--color-text);
      }

      .head__type {
        display: inline-block;

        margin: 0;
        padding: 0 5px;
        transform: translateY(2px);

        font-size: 12px;
        font-weight: 400;
        font-family: 'Open Sans';
        color: var(--color-text);

        border-radius: 10px;
        background-color: #ffffff49;
      }
    }

    &__description-wrapper {
      margin: 0;
      padding: 10px 25px;

      font-size: 14px;
      font-weight: 400;
      font-family: 'Open Sans';
      color: var(--color-text);

      background-color: var(--page-background-color);
      backdrop-filter: var(--page-background-background);
    }
    
    &__genres {
      padding: 0 25px;
      background-color: var(--page-background-color);
      backdrop-filter: var(--page-background-background);

      .head__genre:not(:last-of-type) {
        margin-right: 8px;
      }
    }
  }
}